.app-layout {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* Fallback */
    height: 100dvh;
    overflow: hidden;
}

.map-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Behind panel */
}